<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--工作模式:A:文件移动到指定目录当前日期文件夹下,B:updatePath->AppPath->backupPath/当前日期备份-->
    <add key="WorkType" value="B"/>
    <!--更新包目录-->
    <add key="updatePath" value="D:\Test\TestA\update"/>
    <!--程序目录-->
    <add key="AppPath" value="D:\Test\TestA\app"/>  
    <!--备份目录-->
    <add key="backUpPath" value="D:\Test\TestA\backup"/> 
    <!--忽略的文件或目录,多个对象用逗号隔开,文件名必须带后缀-->
    <add key="ignoreFile" value="readMe.txt"/>
    <!--文件更新后休眠的秒数-->
    <add key="sleepSecond" value="1"/>
    <!--内部缓冲区大小.如果过小会导致文件监控不完整 kb-->
    <add key="InternalBufferSize" value="10240"/>
  </appSettings>
</configuration>